*.iml
.gradle

/local.properties
/secrets.properties

/.idea/AndroidProjectSystem.xml
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/runConfigurations.xml
/.idea/workspace.xmlq
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
